@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

p {
    font-family: 'Inter';
}

a {
    font-family: 'Inter';
    text-decoration: none;
}

li {
    font-family: 'Inter';
    list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2vw;
    background: #e1dddd;
    color: #111111;
    width: 100%;
    z-index: 999999;
}

.nav-links a {
    color: #111111;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    width: 26.5%;
}

.brand-logo {
    width: 17%;
    margin-right: 0.8vw;
}

.logo-name {
    color: #111111;
    font-size: 1.6vw;
    width: 55vw;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1.115em;
    font-size: 1vw;
    align-items: center;
}

.menu li:hover {
    background: #fff;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 1.2px;
    text-align: center;
    /* width: 6vw; */
}

.menu li a{
    color: rgb(59, 59, 143);
}

/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {
    display: none;
}

/* HAMBURGER MENU */
.hamburger {
    display: none;
    font-size: 4vw;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background: #fff;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background: #fff;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .logo-name {
        color: #111111;
        font-size: 3vw;
    }

    .logo {
        width:auto;
    }

    .menu {
        font-size: 3vw;
    }
}